{% extends 'base.html' %}
{% block title %} {{tag.name}} Tag {% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="header text-center d-inline-block">
        <h1 class="display-4 text-dark m-4">{{ tag.name.upper() }}</h1>
    </div>
</div>
<div class="row justify-content-center">
    <a href="/tags/{{ tag.id }}/edit" class="btn btn-sm btn-dark btn-outline-success mb-5 mr-2 mt-n2">
        Edit tag
    </a>
    <form action="/tags/{{ tag.id }}/delete" method="post">
        <button class="btn btn-sm btn-dark btn-outline-danger mb-5 mt-n2">
            Delete tag
        </button>
    </form>
</div>
<div class="row justify-content-left">
    {% for post in posts %}
    <div class="col-sm-12 col-md-12 col-lg-6 mb-4">
        <div class="card bg-dark shadow-lg">
            <div class="card-body">
                <h4 class="text-light">{{ post.title }}</h4>
                <p class="lead font-italic text-secondary">by
                    <a href="/users/{{ post.user.id }}">{{ post.user.full_name() }}</a> on {{ post.format_date() }}</p>
                <h5 class="text-light">{{ post.body }} <a href="/posts/{{ post.id }}"> Read more...</a></h5>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}