{% extends 'base.html' %}
{% block title %} New Tag {% endblock %}

{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>{{ message }}</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endfor %}
{% endif %}
{% endwith %}
<div class="row justify-content-center">
    <h1 class="display-4 text-dark m-4 mb-5">New Tag</h1>
</div>
<div class="row justify-content-center">
    <div class="col-sm-12 col-md-8 col-lg-8">
        <form action="/tags/new" method="POST">
            <div class="form-group row">
                <label for="tag" class="col-sm-2 col-form-label">Tag name</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" name="tag" placeholder="politics" required>
                </div>
                <div class="col-2">
                    <button type="submit" class="btn btn-md btn-primary btn-outline-dark">Add</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}