{% extends 'base.html' %}
{% block title %} {{ user.full_name() }} {% endblock %}

{% block content %}
<style>
    .avatar {
        border: 0.3rem solid rgba(#fff, 0.3);
        margin-top: -6rem;
        margin-bottom: 1rem;
        max-width: 9rem;
    }
</style>
<div class="row justify-content-center">
    <div class="col-12 col-sm-12 col-md-12 col-lg-5">
        <div class="card">
            <img class="card-img-top" src="https://cdn.wallpapersafari.com/3/46/NuEPV1.png" alt="foo">
            <div class=" card-body text-center">
                <img class="avatar rounded-pill img-fluid img-thumbnail shadow" src="{{ user.image_url }}" alt="bar"
                    style="min-width: 200px;">
                <h4 class="card-title">{{ user.full_name() }}</h4>
                <h6 class="card-subtitle mb-3 text-muted">Author</h6>

                {% if user.posts %}
                <ul class="list-group" style="width: 300px !important; margin: 0 auto;">
                    <h4 class="">Posts</h4>
                    {% for post in user.posts %}
                    <li class="list-group-item mb-n3"><a href="/posts/{{ post.id }}">{{ post.title }}</a></li>
                    {% endfor %}
                    {% else %}
                    <li class="list-group-item"><a href="/users/{{ user.id }}/posts/new">Write your first post here!</a>
                    </li>
                </ul>
                {% endif %}
                <div class="card shadow-none mt-4">
                    <p class="text-muted"><a href="/users/{{ user.id }}/posts/new" class="text-muted">Create a new
                            post</a></p>
                    <form>
                        <button formaction="/users/{{ user.id }}/edit" formmethod="GET"
                            class="btn btn-outline-dark w-25">Edit</button>
                        <button formaction="/users/{{ user.id }}/delete" formmethod="POST"
                            class="btn btn-outline-danger">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}